<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Can't escape from Crossing Fate</title>
</head>
<body>
        
            <div id="aboutme">
                <br>
                <p>Welcome to CrossTagDB where you can find match videos of Blazblue Cross Tag Battle!</p>
                <p>Thank you for choosing to use my website. I hope that it will suit your needs since there is no alternative at the moment.</p>
                <h3>Contact info</h3>
                <ul>
                    <li>Email: <a href="mailto:test@test.com">click here</a></li>
                    <li>Discord: ArcDawn#6930</li>
                    <li>Youtube: <a href="https://www.youtube.com/theArcofDawn">https://www.youtube.com/theArcofDawn</a></li>
                </ul>
            </div>
            <script src="/javascripts/main.js"></script>
</body>
</html>