<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/insert" method="post">
    <p>Title</p>
    <input type="text" name="title" id="">
    <br>
    <p>Link</p>
    <input type="text" name="link" id="">
    <br>
    <p>Team 1 Characters</p>
    <input type="text" name="channel" id="">
    <br>
    <p>Team 2 Characters</p>
    <input type="text" name="channel" id="">
    <br>
    <p>Channel</p>
    <input type="text" name="channel" id="">
    <br>
    <p>Date</p>
    <input type="text" name="channel" id="">
    <button type="submit">Add Entry</button>
    </form>
</body>
</html>