.sidenav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left:0;
    background-color: aliceblue;
    overflow-x: hidden;
    padding-top: 20px;
    transition: 0.5s;
}

.sidenav a{
    padding: 8px 8px 8px 32px;
    font-size: 20px;
    text-decoration: none;
    color: black;
    display: block;
    transition: 0.3s;
    overflow-x: hidden;
}
.sidenav h2{
    padding: 8px 8px 8px 32px;
    font-size: 20px;
    text-decoration: none;
    color: black;
    display: block;
    transition: 0.3s;
    overflow-x: hidden;
}
.sidenav a:hover{
    color: darkgray;
}

.sidenav .closebtn{
    position: absolute;
    top:0;
    right: 25px;
    font-size: 30px;
    margin-left: 20px;
}
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
.sidesearch{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right:0;
    background-color: aliceblue;
    overflow-x: hidden;
    transition: 0.5s;
}

.sidesearch a{
    padding: 8px 8px 8px 32px;
    font-size: 20px;
    color: black;
    display: block;
    transition: 0.3s;
}

.sidesearch a:hover{
    color: darkgray;
}

.sidesearch .closebtn{
    position: absolute;
    top:0;
    right: 25px;
    font-size: 30px;
    margin-left: 20px;
}
.vods{
    margin-left: 40px;
    margin-top: 20px;
}
.entry{
    text-align: center;
    margin-top: 5px;
    
}
.titleformat{
    display: inline-block;
    text-align: left;
    background-color: beige;
    width:950px;
    flex-wrap: wrap;
}
.title{
    padding-left: 6px;
}
.item{
    display: inline-flex;
    text-align: left;
    margin: auto;
    background-color: beige;
    width: 950px;
}
.details{
    margin-left: 6px;
}
#search{
    margin-left: auto;
    padding: 10px 10px 10px 10px;
    border-radius: 50%;
}
#search:hover{
    background-color: darkgrey;
    transition: 0.5s;
}
#searchform{
    text-align: center;
    padding: 10px 10px 10px 10px;
    border-radius: 50%;
}
#resetbutton{
    text-align: center;
    padding: 10px 10px 10px 10px;
    border-radius: 50%;
}
#searchform:hover{
    background-color: darkgrey;
    transition: 0.5s;
}
#resetbutton:hover{
    background-color: darkgrey;
    transition: 0.5s;
}
#navmenu{
    padding: 10px 10px 10px 10px;
    border-radius: 50%;
}
#navmenu:hover{
    background-color: darkgrey;
    transition: 0.5s;
}
#aboutme{
    margin: 20px 20px 20px 80px;
}
.players{

    margin-left: 200px;

}
.actions{
    display: inline-flex;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: 6px;
    margin-top: -15px;
    height: 50px;
    width: 50px;
}

#page-name{
    padding-left: 1em;
}

#main {
    transition: margin-left .5s;
    padding: 20px;
}
